
[submodule "fossil-offchain-processor"]
	path = fossil-offchain-processor
	url = https://github.com/OilerNetwork/fossil-offchain-processor
	branch = eugen/debug-fossil-callback
[submodule "pitchlake-plugin-juno"]
	path = pitchlake-plugin-juno
	url = https://github.com/OilerNetwork/pitchlake-plugin-juno
	branch = feat/launcher-branch-2
[submodule "pitchlake-ui-new"]
	path = pitchlake-ui-new
	url = https://github.com/OilerNetwork/pitchlake-ui-new.git
	branch = main
[submodule "pitchlake_starknet"]
	path = pitchlake_starknet
	url = https://github.com/OilerNetwork/pitchlake_starknet.git
	branch = develop
[submodule "pitchlake_db_server"]
	path = pitchlake_db_server
	url = https://github.com/OilerNetwork/pitchlake_db_server
	branch = main
